<li class="programme-list__item">
  <h3>{{ programme.title }}</h3>
  {% set imgUrl = programme.images.standard | replace( r/{recipe}/, recipe.small ) %}
  <img src="{{ imgUrl }}" alt="{{ programme.title }}">
</li>
