{% extends 'layout.njk' %}

{% block content %}
  <h2 class="programme-list__title">{{ letter | upper }}</h2>

  {% if error %}
    <p>Error loading content: {{ error.code }}</p>
  {% else %}

    {% if data.count > 0 %}
      <ul id="programme-list" class="programme-list">
        {% for programme in data.elements %}
          {% include './_list-item.njk' %}
        {% endfor %}
      </ul>
    {% else %}
      No programmes beginning with <strong>{{ letter }}</strong>.
    {% endif %}

    {% if pages > 1 %}
      {% include './_pagination.njk' %}
    {% endif %}

  {% endif %}

{% endblock %}
