{% extends 'layout.njk' %}

{% block content %}
<h2>{{ letter }}</h2>
<ul id="js-programme-list"></ul>
{% endblock %}

{% block scripts %}
<script src="/scripts/bundle.js" type="text/javascript"></script>
<script type="text/javascript">init("{{ letter }}");</script>
{% endblock %}
