body {
  color: $white;
  font-family: sans-serif;
  line-height: 1.6;
}

a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $pink;
  }
}

.title a {
  color: $pink;
}
