
<nav class="navigation">
  <div class="wrapper">
    <h1 class="title"><a href="/">{{ siteTitle }}</a></h1>

    <ol class="navigation-list">
    {% for letter in letters %}
      <li {% if currentLetter == letter %}class="selected"{% endif %}>
        <a href="/programmes/{{ letter }}">
          {{ letter }}
        </a>
      </li>
    {% endfor %}
    </ol>
  </div>
</nav>
